/* ===== GÉNÉRAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; /* Police de caractères par défaut */
}

body {
  background-color: #f5f5f5; /* Couleur de fond du corps */
}

*::selection{
  background-color: #e64a33;
  color: #f2f2f2;
}

/* ===== HEADER ===== */
.gradient {
  background: radial-gradient(
    #fff,
    #ccc
  ); /* Dégradé radial pour l'arrière-plan */
}

.container {
  max-width: 1200px;
  margin: 0 auto; /* Centrer le conteneur horizontalement */
}

.navbar {
  backdrop-filter: blur(10px); /* Effet de flou sur l'arrière-plan */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Assurez-vous que la barre de navigation est au-dessus des autres éléments */
}

nav ul {
  max-height: 200px;
  transition: max-height 0.5s ease-out; /* Transition pour l'animation du menu */
}

.menu-icon {
  display: none;
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s; /* Transition pour l'effet de survol des liens */
}

a:hover {
  text-decoration: none;
  color: #f5f5f5; /* Couleur du texte au survol */
}

#menuItems a:hover {
  text-decoration: none;
  background-color: #ff523b; /* Couleur de fond au survol */
  color: #fff;
  border-radius: 30px;
  padding: 15px;
}

.new {
  background-color: #ff523b;
  border: #f9f9f9 solid 2px;
  color: #f9f9f9;
  border-radius: 50px;
  padding: 2px 6px;
  font-size: 12px;
  position: relative;
  top: -12px;
  right: 8px; /* Position du badge "nouveau" */
}

/* ===== LAYOUT ===== */
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

/* ===== BOUTONS ===== */
.btn {
  display: inline-block;
  background: transparent;
  color: #333;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.5s; /* Transition pour l'effet de survol des boutons */
  border: #333 solid 1px;
}

.btn:hover {
  background: #ff523b; /* Couleur de fond au survol */
  transform: scale(1.1); /* Effet d'agrandissement lors du survol */
  border: none;
  color: #f2f2f2;
}

.suppicn {
  border: none;
  background: transparent;
  padding: 2px;
  cursor: pointer; /* Afficher un curseur de pointeur sur l'icône de suppression */
}

/* ===== CATÉGORIES ===== */
.categories {
  margin: 70px 0;
  padding: 50px 0;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: var(--main-text-color);
}

.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Centrer la ligne horizontale */
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  opacity: 0; /* Elément initialement transparent */
  transform: translateY(50px); /* Elément initialement déplacé vers le bas */
  transition: opacity 0.5s, transform 0.5s; /* Transition animée */
}

.col-3.show {
  opacity: 1; /* Elément complètement visible */
  transform: translateY(0); /* Elément à sa position initiale */
}

.col-3 a {
  text-decoration: none;
  color: #555;
}

.col-3 img {
  width: 80%;
  border-radius: 10px;
  transition: transform 0.5s; /* Transition animée pour l'image */
}

.col-3:hover {
  background-color: #ff523b;
  color: #fff;
  transition: 0.5s;
}

.col-3:hover img {
  transform: scale(1.1); /* Effet d'agrandissement de l'image lors du survol */
}

.col-3:hover h4 {
  color: #fff;
}
.col-4 {
  flex-basis: 30%;
  min-width: 250px;
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: center;
  transform: translateY(20px); /* Elément initialement déplacé vers le bas */
  transition: opacity 0.5s, transform 0.5s; /* Transition animée */
  height: 450px;
}

.col-4 a {
  text-decoration: none;
  color: #555;
}

.col-4 img {
  width: 80%;
  border-radius: 10px;
  transition: transform 0.5s; /* Transition animée pour l'image */
}

.col-4:hover {
  background-color: #ff523b;
  color: #fff;
  transform: translateY(0px); /* Elément initialement déplacé vers le bas */
  transition: 0.5s;
}

.col-4:hover img {
  transform: scale(1.1); /* Effet d'agrandissement de l'image lors du survol */
}

.col-4:hover h4 {
  color: #333;
}

/* ===== CARTES DES PRODUITS ===== */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  margin-bottom: 100px;
  cursor: pointer; /* Afficher un curseur de pointeur sur les cartes de produits */
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Effet d'ombre plus prononcé lors du survol */
  transform: translateY(
    -5px
  ); /* Effet de léger déplacement vers le haut lors du survol */
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 20px;
}

.card-body h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-body .rating {
  color: #ffc107; /* Couleur des étoiles de notation */
  margin-bottom: 10px;
}

.card-body p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

#emu:hover {
  color: #000; /* Couleur du texte au survol pour l'élément avec l'id "emu" */
}

/* ===== CARROUSEL ===== */
.carousel {
  max-width: 500px;
  margin: 0 auto; /* Centrer le carrousel horizontalement */
  border-radius: 20px;
}

.carousel-inner img {
  max-height: 600px;
  object-fit: cover;
  border-radius: 20px;
}

/* ===== FOOTER ===== */
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none; /* Supprimer les puces des listes */
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.menu-icon {
  display: none; /* Afficher l'icône de menu sur les petits écrans */
  cursor: pointer; /* Afficher un curseur de pointeur sur l'icône de menu */
}

/* Section À propos */
.about-section {
  padding: 80px 0;
}

.car-image {
  width: 100%; 
  display: flex; 
  justify-content: center;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 10px;
  width: 40vh; /* Définir la largeur de l'image de voiture en unités de hauteur de viewport */
}

.car-image img {
  transition: transform 0.5s ease;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.car-image img:hover {
  transform: scale(1.1); /* Effet d'agrandissement de l'image lors du survol */
}

.large-image {
  transform: scale(1.2); /* Agrandir l'image avec la classe "large-image" */
}

.about-text {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 50px;
  position: relative;
}

.about-text p {
  margin-bottom: 20px;
}

.decoration {
  width: 80px;
  height: 5px;
  background-color: #ff523b;
  border-radius: 5px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%); /* Centrer la décoration */
}

/* Styles pour l'offre */
.offer {
  background: radial-gradient(
    #fff,
    #ffd000
  ); /* Dégradé radial pour l'arrière-plan de l'offre */
  margin: 80px 0;
  padding: 30px 0;
}

.offer-img {
  max-width: 100%;
  padding: 50px;
  transition: transform 0.5s; /* Transition pour l'effet de survol de l'image */
}

.offer-img:hover {
  transform: scale(1.1); /* Effet d'agrandissement de l'image lors du survol */
}

.offer .col-2 {
  padding: 20px;
}

.offer small {
  color: #555;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin: 12px 0;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 10px;
}

.new-price {
  color: #ff523b;
}

/* Styles pour les témoignages */
.testimonials {
  padding: 80px 0;
  background-color: #f9f9f9;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease; /* Transition pour l'effet de survol des cartes */
}

.testimonial-card:hover {
  transform: translateY(
    -10px
  ); /* Effet de déplacement vers le haut lors du survol */
}

.testimonial-body {
  position: relative;
}

.testimonial-card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.testimonial-card .rating {
  color: #ffc107; /* Couleur des étoiles de notation */
  margin-bottom: 10px;
}

.testimonial-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px auto;
}

.testimonial-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

/* Styles pour les marques partenaires */
.brands {
  padding: 80px 0;
  background-color: #f9f9f9;
}

.brand-logo {
  width: 150px;
  height: auto;
  cursor: pointer; /* Afficher un curseur de pointeur sur les logos de marque */
  filter: grayscale(100%); /* Appliquer un filtre de niveau de gris */
  transition: 0.3s ease; /* Transition pour l'effet de survol des logos */
}

.brand-logo:hover {
  filter: grayscale(
    0%
  ); /* Supprimer le filtre de niveau de gris lors du survol */
  scale: 1.1; /* Effet d'agrandissement des logos lors du survol */
}

.col-5 {
  flex-basis: 20%;
  text-align: center;
}

/* Styles pour la page de réparation */
.repair-image {
  max-width: 100%;
  border-radius: 250px 50%; /* Définir une forme de bordure arrondie */
  transition: 1s; /* Transition pour l'animation de la forme de bordure */
}
.repair-image:hover {
  border-radius: 50% 250px; /* Changer la forme de bordure lors du survol */
}

.form-container {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit; /* Hériter de la police de caractères du parent */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.btn2 {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff523b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Afficher un curseur de pointeur sur le bouton */
  transition: background-color 0.3s ease; /* Transition pour l'effet de survol du bouton */
}

.btn2:hover {
  background-color: #e64a33; /* Couleur de fond au survol du bouton */
}

/* Styles pour la page de connexion */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Définir la hauteur du conteneur à la hauteur de la fenêtre */
  position: relative;
}

.login-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Placer l'image d'arrière-plan derrière le contenu */
  overflow: hidden;
}

.login-background img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mettre l'image à l'échelle pour couvrir la zone */
}

.login-form-container {
  backdrop-filter: blur(50px); /* Appliquer un effet de flou à l'arrière-plan */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 100%;
  color: #333;
}

.login-form {
  text-align: center;
}

.form-title {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit; /* Hériter de la police de caractères du parent */
}
.form-footer {
  margin-top: 20px;
}

.form-footer p {
  font-size: 14px;
}

.form-footer a {
  color: #ff523b;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline; /* Souligner les liens lors du survol */
}

/* ===== SINGLE PRODUCT ===== */
.single-product {
  margin-top: 80px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer; /* Afficher un curseur de pointeur sur les petites images */
}

#productImage {
  max-width: 100%;
}

/* Styles pour la page panier*/
.cart-page {
  margin: 80px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #ff523b;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.order-btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.5s;
  border: none;
  cursor: pointer; /* Afficher un curseur de pointeur sur le bouton */
}

#passer-commande {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.5s;
  border: none;
  cursor: pointer; /* Afficher un curseur de pointeur sur le bouton */
}

/* panier */
.cart-icon {
  position: relative;
  cursor: pointer; /* Afficher un curseur de pointeur sur l'icône du panier */
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}

.cart-drawer {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  display: none; /* Remplacer cette ligne */
  opacity: 0; /* Ajouter cette ligne */
  visibility: hidden; /* Ajouter cette ligne */
  transition: opacity 0.3s, visibility 0.3s; /* Ajouter cette ligne */
  z-index: 10;
  border-radius: 20px;
}

.cart-drawer.open {
  display: block; /* Remplacer cette ligne */
  opacity: 1; /* Ajouter cette ligne */
  visibility: visible; /* Ajouter cette ligne */
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* ===== RESPONSIVE ===== */

@media only screen and (max-width: 800px) {
  nav {
    position: absolute;
    top: 90px;
    left: 0;
    background: #333;
    width: 100%;
    transition: all 0.5s ease-out; /* Animation lors de l'ouverture/fermeture du menu */
  }

  .carousel {
    display: none;
  }

  #menuItems a:hover {
    text-decoration: none;
    background-color: transparent; /* Couleur de fond au survol */
    color: #fff;
    border-radius: 30px;
    padding: 15px;
  }

  .menu-icon {
    display: inline-block; /* Afficher l'icône de menu sur les petits écrans */
    position: absolute;
    top: 50px;
    left: 5px;
    z-index: 10;
    cursor: pointer; /* Afficher un curseur de pointeur sur l'icône de menu */
  }

  #menuItems {
    display: none; /* Masqué */
  }

  #menuItems.active {
    display: inline-block; /* Affiché lorsque la classe "active" est présente */
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff; /* Couleur des liens dans le menu pour les petits écrans */
  }

  .row {
    justify-content: center;
    flex-wrap: wrap; /* Permet l'encapsulation des éléments */
  }

  .col-4 {
    flex-basis: 45%; /* Définit la largeur de base pour les colonnes de produits/logiciels */
    margin: 10px; /* Ajoute un petit espacement entre les colonnes */
    height: 390px;
  }

  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .cart-drawer {
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }

  .col-4 {
    flex-basis: 100%; /* Les colonnes de produits/logiciels occupent toute la largeur sur les petits écrans */
  }

  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}

/* commande success */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 90%;
    margin: 30% auto;
  }
}
.col-md-6 {
  margin: 20px;
}